<p id="notice"><%= notice %></p>

<p>
  <strong>Cnpj:</strong>
  <%= @cliente.cnpj %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @cliente.razao_social %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @cliente.nome_fantasia %>
</p>

<p>
  <strong>Inscricao estadual:</strong>
  <%= @cliente.inscricao_estadual %>
</p>

<p>
  <strong>Inscricao municipal:</strong>
  <%= @cliente.inscricao_municipal %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', welcome_index_path %>
