<%= form_with(model: contato_telefonico, local: true) do |form| %>
  <% if contato_telefonico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contato_telefonico.errors.count, "error") %> prohibited this contato_telefonico from being saved:</h2>

      <ul>
      <% contato_telefonico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :telefone_fixo %>
    <%= form.text_field :telefone_fixo %>
  </div>

  <div class="field">
    <%= form.label :ramal %>
    <%= form.text_field :ramal %>
  </div>

  <div class="field">
    <%= form.label :telefone_celular %>
    <%= form.text_field :telefone_celular %>
  </div>

  <div class="field">
    <%= form.label :responsavel_id %>
    <%= form.text_field :responsavel_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
