<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @responsavel.nome %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @responsavel.cargo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @responsavel.email %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @responsavel.cliente %>
</p>

<%= link_to 'Edit', edit_responsavel_path(@responsavel) %> |
<%= link_to 'Back', welcome_index_path %>
